In [174]:
import pandas as pd
import numpy as np
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeRegressor
import category_encoders as ce

In [175]:
df=pd.read_csv(r"https://raw.githubusercontent.com/sydneyproject000/dat-sample/main/iowa_mini.csv")

In [176]:
# fill in missing reservations
df.fillna(0)

# drop missing values from shifts

,Id,MSSubClass,MSZoning,LotArea,Neighborhood,OverallQual,OverallCond,YearBuilt,GrLivArea,1stFlrSF,2ndFlrSF,GrLivArea.1,FullBath,HalfBath,GarageType,GarageYrBlt,GarageFinish,GarageCars,SalePrice
0,1,60,RL,8450,CollgCr,7,5,2003,1710,856,854,1710,2,1,Attchd,2003.0,RFn,2,208500
1,2,20,RL,9600,Veenker,6,8,1976,1262,1262,0,1262,2,0,Attchd,1976.0,RFn,2,181500
2,3,60,RL,11250,CollgCr,7,5,2001,1786,920,866,1786,2,1,Attchd,2001.0,RFn,2,223500
3,4,70,RL,9550,Crawfor,7,5,1915,1717,961,756,1717,1,0,Detchd,1998.0,Unf,3,140000
4,5,60,RL,14260,NoRidge,8,5,2000,2198,1145,1053,2198,2,1,Attchd,2000.0,RFn,3,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,7917,Gilbert,6,5,1999,1647,953,694,1647,2,1,Attchd,1999.0,RFn,2,175000
1456,1457,20,RL,13175,NWAmes,6,6,1978,2073,2073,0,2073,2,0,Attchd,1978.0,Unf,2,210000
1457,1458,70,RL,9042,Crawfor,7,9,1941,2340,1188,1152,2340,2,0,Attchd,1941.0,RFn,1,266500
1458,1459,20,RL,9717,NAmes,5,6,1950,1078,1078,0,1078,1,0,Attchd,1950.0,Unf,1,142125
1459,1460,20,RL,9937,Edwards,5,6,1965,1256,1256,0,1256,1,1,Attchd,1965.0,Fin,1,147500

In [177]:
df[['GrLivArea', 'Neighborhood', 'OverallQual', 'YearBuilt', '1stFlrSF']]

      GrLivArea Neighborhood  OverallQual  YearBuilt  1stFlrSF
0          1710      CollgCr            7       2003       856
1          1262      Veenker            6       1976      1262
2          1786      CollgCr            7       2001       920
3          1717      Crawfor            7       1915       961
4          2198      NoRidge            8       2000      1145
...         ...          ...          ...        ...       ...
1455       1647      Gilbert            6       1999       953
1456       2073       NWAmes            6       1978      2073
1457       2340      Crawfor            7       1941      1188
1458       1078        NAmes            5       1950      1078
1459       1256      Edwards            5       1965      1256

[1460 rows x 5 columns]

In [178]:
X = df[['GrLivArea', 'Neighborhood', 'OverallQual','YearBuilt', '1stFlrSF']]
y = df['SalePrice']

In [179]:
# let's assume these were our optimized parameters
tree = DecisionTreeRegressor(max_depth = 6, max_features = 0.8, min_samples_leaf = 10)

pipe=make_pipeline(ce.TargetEncoder(), tree)

In [180]:
# fit the tree, and export it
pipe.fit(X, y)

Pipeline(steps=[('targetencoder', TargetEncoder(cols=['Neighborhood'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=6, max_features=0.8,
                                       min_samples_leaf=10))])

In [181]:
# the pickle module allows you to export saved models
import pickle

# rb -- WRITE the file in BYTES
with open('pipe.pkl', 'wb') as export:
    # this creates an external version of the file that we can now import later on
    pickle.dump(pipe, export)

In [182]:
# we can now import this, and re-use it on new data:  very handy

with open('pipe.pkl', 'rb') as import_:
    # this will import the pickled object again
    pipe2 = pickle.load(import_)

In [183]:
# here it is
pipe2

Pipeline(steps=[('targetencoder', TargetEncoder(cols=['Neighborhood'])),
                ('decisiontreeregressor',
                 DecisionTreeRegressor(max_depth=6, max_features=0.8,
                                       min_samples_leaf=10))])

In [184]:
# and we can use it to make new predictions
pipe2.predict(X)

array([182280.36526946, 164906.64      , 212251.75      , ...,
       260705.26315789, 139691.        , 111059.52985075])

In [185]:
GrLivArea_= '500'
OverallQual_= '3'
Neighborhood_='Veenker'
YearBuilt_ = '1999'
FirstFlrSF_= '500'

In [186]:
sample = {'GrLivArea':GrLivArea_,
         'OverallQual': OverallQual_,
         'Neighborhood':Neighborhood_,
         'YearBuilt':YearBuilt_,
         '1stFlrSF': FirstFlrSF_}


sample=pd.DataFrame(sample, index = [0])

In [187]:
pipe2.predict(sample)[0]

317524.5294117647